<%-include('partials/head')%>
<%-include('partials/nav')%>

<div class="container">
    <h1>Edit this comment</h1>
    <form action="/comments/<%=comment.id%>?_method=PATCH" method="POST">
        <section>
            <label for="comment">Comment:</label>
            <br>
            <textarea class="form-control" name="comment" id="comment" cols="30" rows="5"><%= comment.comment %></textarea>
        </section>
        <br>
        <button class="btn btn-primary">Save</button>
    </form>
    <a href="/comments">All Comments</a>
</div>

<%-include('partials/footer')%>